* {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

/* header section */

.header {
    background: rgba(229, 84, 115, 0.10);
}

/* home page items style started */
.home-section {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
    padding: 100px 150px 0px 150px;
}

.home-texts {
    padding-bottom: 50px;
}

.home-title {
    color: #272727;
    font-size: 70px;
    font-weight: 800;
}

.home-prgph {
    color: rgba(39, 39, 39, 0.60);
    max-width: 800px;
    font-size: 18px;
    font-weight: 400;
    padding-top: 30px;
    padding-bottom: 30px;
}

.primary-btn {
    font-size: 19px;
    font-weight: 700;
    color: white;
    border-radius: 8px;
    background: #E55473;
    padding: 10px 20px;
    border: none;
}

.home-img {
    height: 510px;
    width: 370px;
}
.home-img-div{

    padding-top: 90px;
}
/* home page items style END */

/* Featured Flower section started */
.ff-text-container {

    padding-top: 170px;
    text-align: center;
}

.ff-title {
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 20px;
}

.ff-pera {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.flower-tree-cont {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 50px 150px 0px 150px;
}

.pink-tree {
    width: 250px;
    height: 320px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    background-image: url('../images/pngwing6.png');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 200px;
}

.red-tree {
    width: 250px;
    height: 320px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    background-image: url('../images/pngwing5.png');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 200px;
}

.yellow-tree {
    width: 250px;
    height: 320px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    background-image: url('../images/pngwing7.png');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 200px;
}

.li-texts {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 190px;
    padding: 10px 150px 130px 150px;
    text-decoration-line: underline;
}

/*  Featured Flower section END  */

/* store feature section started */

.store-feature {
    margin: 0 150px;
    width: auto;
    height: 250px;
    background: rgba(39, 39, 39, 0.05);
}

.s-feature-cont {
    padding-top: 60px;
    list-style: none;
    justify-content: center;
    gap: 100px;
    align-items: center;
    display: flex;
    border-radius: 8px;}

.sf-icon1 {
    line-height: 185px;
    background-image: url('../images/Group57.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 70px;
}

.sf-icon2 {
    line-height: 185px;
    background-image: url('../images/group58.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 70px;
}

.sf-icon3 {
    line-height: 185px;
    background-image: url('../images/group59.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 70px;
}

/* store feature section END */
/* Hot deals section started */

.hot-deal-texts {
    margin: 100px 150px;
    text-align: center;
}

.hot-deal-section {
    margin-top: 130px;
    display: flex;
    justify-content: space-between;
    background: rgba(229, 84, 115, 0.05)
}

.deal-title-style {
    color: #E55473;
}

.deal-details {
    margin-bottom: 30px;
    max-width: 600px;
}

.deal-title {
    color: #272727;
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 30px;
}

.hot-deal-img {
    padding-right: 250px;
    display: flex;
    align-items: center;
}

/* Hot deals section END */

/* insta section started  */

.insta-sect-img-cont {
    margin-top: 45px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.insta-img {
    width: 240px;
    height: 250px;
}

.insta-sect-texts {
    text-align: center;
}

.insta-sect-title {
    color: #272727;
    font-size: 35px;
    font-weight: 800;
    margin-top: 130px;

}

.insta-pera {
    margin-top: 20px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;

}

/* insta section END */

/* latest deals section started */

.latest-deals-cont {
    margin-top: 130px;
    background-image: url('../images/rectangle9.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}

.latest-deals-text-cont {
    text-align: center;
    padding-top: 110px;
}

.lt-deals-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.lt-deals-pera {
    padding-top: 10px;
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
}

.email-input-cont {
    padding-bottom: 50px;
    padding-top: 45px;
    text-align: center;
}

.email-input {
    border: none;
    border-radius: 8px;
    margin-right: 10px;
    width: 500px;
    height: 40px;
    padding-left: 20px;
    padding-top: 5px;

}
/* footer section started */
.footer{
    margin-top: 130px;
    background-color: rgba(255, 182, 198, 0.5);
    width: auto;
    height:350px ;
    text-align: center;
}
.footer-title{
    padding-top: 100px;
    color:black;
font-size: 40px;
font-weight: 800;;
}
.footer-title-pink{
    color: #E55473;
}
.footer-pera{
    color: #272727;
    padding-top: 20px;
}